<ion-view title="Información" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
           <div class="list">

    <div class="item item-thumbnail-left">
      <img src="./img/ppt.png">
      <h2>Angular For All</h2>
      <p>This is an open source project, see the links below</p>
    </div>
    <br>
    <br>
    <a ng-click="informacion.openUrl('https://github.com/AngelGarcia13/AngularForAll')">Source Code</a>, made with love by <a ng-click="informacion.openUrl('http://angelrenegarcia.com')">Angel Garcia</a>

</div>
    </ion-content>
</ion-view>